/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    list-style-type: none;
}

header{
    width: 100%;
    height: 100vh;
    background: url('images/1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    nav{
        padding: 0 10px;
        display: flex;
        background: #181818;
        height: 100px;
        .logo{
            width: 10%;
            position: relative;
            .handler{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
            }
        }
        >div{
            height: 100%;
        }
        .empty{
            width:9%;
        }
        .list-1{
            width: 45%;
            ul{
                height: 100%;
                line-height: 6;
                li{
                    padding: 0 15px;
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .list-2{
            width: 35%;
            ul{
                height: 100%;
                line-height: 6;
                li{
                    padding: 0 15px;
                    a{
                        color: #fff;
                        svg{
                            fill: #fff;
                        }
                    }
                    .icon{
                        position: relative;
                        top: 5%;
                    }
                }
            }
        }
    }
    h2{
        width: 50%;
        position: relative;
        font-size: 3rem;
        color: #fff;
        margin-top: 13%;
        margin-left: 3%;
        animation:ltor 1s 1;
    }
    div{
        width: 3rem;
        height: 3rem;
        top: 3%;
        left: 5%;
        position: relative;
        svg{
            cursor: pointer;
            transform: rotate(180deg);
            g{
                fill: transparent;
                stroke: #fff;

            }
        }
        svg:hover{
            g{
                fill: #fff;
                stroke: #000;
            }
        }
    }
}
@keyframes ltor{
    from{
        display:none;
        left: -50%;
    }
    to{
        display: block;
        left: 0;
    }
}
